/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nanopore-Cancer-Workflow Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params, used in configs
params {
    // Input options
    input                      = null
    
    // Reference genome options
    genome                     = 'GRCh38'
    fasta                      = null
    gtf                        = null
    gff                        = null
    
    // 10x Genomics GRCh38 reference (default)
    genomes {
        'GRCh38' {
            fasta = 'https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2024-A.tar.gz'
            gtf   = null  // Will be extracted from the tar.gz
            gff   = null  // Will be extracted from the tar.gz
        }
    }


    // Output options
    outdir                     = './results'
    publish_dir_mode           = 'copy'
    
    // Boilerplate options
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    
    // Max resource options
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'  // Add this line

profiles {
    debug { 
        process.beforeScript = 'echo $HOSTNAME' 
    }
    
    conda {
        conda.enabled          = true
        conda.useMamba         = true
        singularity.enabled    = false
        docker.enabled         = false
    }
    
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        conda.enabled          = false
        docker.enabled         = false
    }
    
    test { 
        includeConfig 'conf/test.config' 
    }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

manifest {
    name            = 'Nanopore-Cancer-Workflow'
    author          = 'KochInstitute-Bioinformatics Team'
    homePage        = 'https://github.com/KochInstitute-Bioinformatics/Nanopore-Cancer-Workflow'
    description     = 'A Nextflow pipeline for cancer analysis using Oxford Nanopore sequencing data'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0dev'
}