/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Genome reference configuration
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    genomes {
        'GRCh38' {
            fasta = 'https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh38-2024-A.tar.gz'
            gtf   = null  // Extracted from tar.gz
            gff   = null  // Extracted from tar.gz
        }
        'GRCh37' {
            fasta = 'https://cf.10xgenomics.com/supp/cell-exp/refdata-gex-GRCh37-1.2.0.tar.gz'
            gtf   = null
            gff   = null
        }
        // Add more genomes as needed
    }
}